
:root {
  --color-primary: theme('colors.gray.200');
  --color-secondary: theme('colors.orange');
  /* --input-background-color:
  --input-radius:
  --table-row-active-background-color:
  --table-row-active-color:
  --toast-border-radius: */
}
