:root {
  --color-primary: theme('colors.green.700');
  --color-secondary: theme('colors.blue.700');
  --color-tertiary: theme('colors.orange.700');
  --color-danger: theme('colors.red.700');
  --color-warning: theme('colors.yellow.700');
  --color-success: theme('colors.green.700');
  --color-info: theme('colors.blue.200');
  --color-easyemailer: theme('colors.blue.700');
  --color-message: theme('colors.blue.700');
  --color-facebook: theme('colors.facebook');
  --color-twitter: theme('colors.twitter');
  --input-background-color: theme('colors.blue.100');
  --toast-border-radius: 1rem;
}
