
$color-primary: #0070d2;
$color-secondary: #0070d2;


$toast-border-radius: 0;
$input-radius: 0;
$input-background-color: red;

$dropdown-item-hover-background-color: red;
$dropdown-item-hover-color: red;
$dropdown-content-background-color: red;
$dropdown-content-radius: 0;
$dropdown-content-shadow: none;